{% extends 'base.html' %}

{% block content %}
<div class="flex gap-6">

    <!-- Sidebar -->
    <aside class="w-64 bg-slate-900 text-white rounded-xl p-6 min-h-[75vh]">
        <h2 class="text-xl font-bold mb-6">Student Panel</h2>

        <nav class="space-y-3 text-sm">
            <a href="{% url 'accounts:student_dashboard' %}" class="block hover:text-yellow-400">
                Dashboard
            </a>
            <a href="/accounts/profile/" class="block hover:text-yellow-400">
                My Profile
            </a>
            <a href="/fees/payments/" class="block hover:text-yellow-400">
               all Payment History
            </a>
            <a href="/complaints/my/" class="block hover:text-yellow-400">
               My Complaints
            </a>
            <a href="{% url 'accounts:change_password' %}" class="block hover:text-yellow-400">
                Change Password
             </a>
             <a href="{% url 'accounts:financial_report' %}" class="block hover:text-yellow-400">
                Financial Report
             </a>
        </nav>
    </aside>

    <!-- Page Content -->
    <section class="flex-1 bg-white rounded-xl p-6 shadow">
        {% block student_content %}{% endblock %}
    </section>

</div>
{% endblock %}
